@import "../../vars.css";

.container {
    color: var(--color-text);
    font-family: var(--font-roboto);
    /* background-color: #031022;     ORIGINAL THEME       */
    background-color: var(--color-dark);          
    /* position: absolute; */
    z-index: 1;
    padding: 25px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 60px;
    border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.information {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.infoItems {
    display: flex;
    align-items: center;
}
.infoItemsText {
    /* background-color: var(--color-primary); */
    margin: 10px 70px 10px 0px;
    padding:  25px;
    border-radius: 5px;
}


.infoItems:hover {
    background: linear-gradient(
        to right, 
        rgba(40, 52, 52), 
        rgba(255, 255, 255, 0) 
    );
}



.infoTitles {
    font-size: 30px;
    font-weight: 600;
}

.aboutImg {
    width: 30%;
    border-radius: 25%;
    /* height: 4rem; */
}

.infoImg {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 830px) {
    .aboutImg {
        display: none;
    }
}