@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;

    /* learn more about this, what does this css  property do */
}

html {
    scroll-behavior: smooth;
}
